@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Montserrat:wght@400;700&display=swap');

html {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Montserrat', sans-serif;
}
h1 {
    text-align: center;
    font-family:'Gochi Hand', cursive;
}
#countries {
    width: 98%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
    flex-grow: 0;
    background-color: #f7f3f3;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
}

li {
    border-radius:4px ;
    list-style: none;
}
#listContainer {
    height: 45px;
    width: 520px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 10px;
}
#textContainer {
    display: flex;
    flex-direction: column;
    height: 40px;
    margin: 10px 2px;
    padding: 0 2px;
}
#countryName {
    padding: 0;
    margin: 0;
    font-size: 1em;
    font-weight: bold;
    overflow: hidden;
}
#worldRegion {
    font-size: 0.7em;
    padding: 5px 0;
    margin: 2px 0;
    line-height: 0.04em;
}
#countryPopulation {
    padding: 0;
    margin: 5px 2px;
    font-size: 0.6em;
}
#worldMap {
    display: block;
    width: 60%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
#flag {
    margin: 3px 0;
    padding: 0;
}
#flagCountry {
    width: 60px;
    height: 40px;
    object-fit: cover;
    padding: 2px;
    border: 1px solid lightgray;
}


/*SEARCH CSS*/

#turningGlobe {
    display: block;
    width: 40%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
#search-form {
    width: 100%;
    text-align: center;
}
#country-card {
    width: 45vw;
    height: 250px;
    border: 1px solid #c8c2c2;
    border-radius: 5px;
    margin: 20px auto;
    padding: 25px;
    position: relative;

}

#nameCountry {
    margin: 0;
    font-family:'Gochi Hand', cursive;
    font-size: 1.4em;
    display: inline-block;
    position: absolute;
    top: -10px;
    left: 100px;
}
hr {
    border:none;
    height: 50px;
    /*height: 50px;*/
    /*margin-top: 0;*/
    border-bottom: 1px solid #eadcd2;
    margin: -15px auto 10px;
}
.errorMessage {
    color: red;
    font-weight: bold;
}